# Predict Minutes Played in 2021-22 For Each Player

#### Objective: predict how many minutes each player in the NBA will have based on what their personal history is (age and minutes played in past seasons)

#### Things to consider: Rookies will not have any history and will need to be entered manually or based on prior rookies who were drafted in their range

## Data Formatting

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [2]:
# load CSV files I have back to the 2000-2001 seasons
season_2001 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2001.csv', encoding='utf-16')
season_2002 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2002.csv', encoding='utf-16')
season_2003 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2003.csv', encoding='utf-16')
season_2004 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2004.csv', encoding='utf-16')
season_2005 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2005.csv', encoding='utf-16')
season_2006 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2006.csv', encoding='utf-16')
season_2007 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2007.csv', encoding='utf-16')
season_2008 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2008.csv', encoding='utf-16')
season_2009 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2009.csv', encoding='utf-16')
season_2010 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2010.csv', encoding='utf-16')
season_2011 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2011.csv', encoding='utf-16')
season_2012 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2012.csv', encoding='utf-16')
season_2013 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2013.csv', encoding='utf-16')
season_2014 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2014.csv', encoding='utf-16')
season_2015 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2015.csv', encoding='utf-16')
season_2016 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2016.csv', encoding='utf-16')
season_2017 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2017.csv', encoding='utf-16')
season_2018 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2018.csv', encoding='utf-16')
season_2019 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2019.csv', encoding='utf-16')
season_2020 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2020.csv', encoding='utf-16')
season_2021 = pd.read_csv(r'C:\Users\Casey\Documents\GitHub\NBA\NBA Scrapers\bbref_player_totals_by_season\player_totals_scrape_2021.csv', encoding='utf-16')

In [13]:
season_2001.head()

,Name,Position_2001,Age_2001,Team_2001,games_played_2001,games_started_2001,minutes_played_2001,field_goals_2001,field_goals_attempted_2001,field_goal_percentage_2001,three_pointers_made_2001,three_pointers_attempted_2001,three_point_percentage_2001,two_pointers_made_2001,two_pointers_attempted_2001,two_point_percentage_2001,effective_percentage_2001,ft_made_2001,ft_attempted_2001,ft_percentage_2001,offensive_rebs_2001,defensive_rebs_2001,total_rebs_2001,assists_2001,steals_2001,blocks_2001,turnovers_2001,personal_fouls_2001,points_scored_2001
0,Mahmoud Abdul-Rauf,PG,31,VAN,41,41,486,120,246,0.488,4,14,0.286,116,232,0.500,0.496,22,29,0.759,5,20,25,76,9,1,26,50,266
1,Tariq Abdul-Wahad,SG,26,DEN,29,29,420,43,111,0.387,4,10,0.400,39,101,0.386,0.405,21,36,0.583,14,45,59,22,14,13,34,54,111
2,Shareef Abdur-Rahim,SF,24,VAN,81,81,3241,604,1280,0.472,12,64,0.188,592,1216,0.487,0.477,443,531,0.834,175,560,735,250,90,77,231,238,1663
3,Cory Alexander,PG,27,ORL,26,26,227,18,56,0.321,4,16,0.250,14,40,0.350,0.357,12,18,0.667,0,25,25,36,16,0,25,29,52
4,Courtney Alexander,PG,23,TOT,65,65,1382,239,573,0.417,17,46,0.370,222,527,0.421,0.432,123,150,0.820,42,101,143,62,45,5,75,139,618

In [3]:
# add a suffix to each of the files column names (excluding Name) before joining that will identify which season this occured in
seasons = [season_2001, season_2002, season_2003, season_2004, season_2005, season_2006, season_2007, season_2008, season_2009, 
season_2010, season_2011, season_2012, season_2013, season_2014, season_2015, season_2016, season_2017, season_2018, season_2019, season_2020, season_2021]

suffix = 2001

for season in seasons:
    season.columns += ('_' + str(suffix))
    season.rename(columns={season.columns[0]: "Name"}, inplace = True)
    suffix += 1

In [4]:
print(season_2001.shape)
print(season_2002.shape)

(537, 29)
(500, 29)

In [5]:
# join the files together by player - this is going to be a very tedious process
merged_df = season_2001.merge(season_2002, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2003, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2004, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2005, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2006, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2007, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2008, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2009, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2010, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2011, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2012, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2013, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2014, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2015, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2016, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2017, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2018, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2019, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2020, left_on='Name', right_on='Name', how='outer')
merged_df = merged_df.merge(season_2021, left_on='Name', right_on='Name', how='outer')

In [6]:
print(merged_df.shape)

(8762, 589)

In [7]:
# create a list of the player's name and minutes played by season variables only
minutes_cols = [col for col in merged_df if col.startswith('minutes' )]
age_cols = [col for col in merged_df if col.startswith('Age')]
name_col = ['Name']
final_cols = minutes_cols + age_cols + name_col
final_cols

['minutes_played_2001',
 'minutes_played_2002',
 'minutes_played_2003',
 'minutes_played_2004',
 'minutes_played_2005',
 'minutes_played_2006',
 'minutes_played_2007',
 'minutes_played_2008',
 'minutes_played_2009',
 'minutes_played_2010',
 'minutes_played_2011',
 'minutes_played_2012',
 'minutes_played_2013',
 'minutes_played_2014',
 'minutes_played_2015',
 'minutes_played_2016',
 'minutes_played_2017',
 'minutes_played_2018',
 'minutes_played_2019',
 'minutes_played_2020',
 'minutes_played_2021',
 'Age_2001',
 'Age_2002',
 'Age_2003',
 'Age_2004',
 'Age_2005',
 'Age_2006',
 'Age_2007',
 'Age_2008',
 'Age_2009',
 'Age_2010',
 'Age_2011',
 'Age_2012',
 'Age_2013',
 'Age_2014',
 'Age_2015',
 'Age_2016',
 'Age_2017',
 'Age_2018',
 'Age_2019',
 'Age_2020',
 'Age_2021',
 'Name']

In [8]:
# filter down to only include these columns
player_min_by_season = merged_df[final_cols]

In [9]:
player_min_by_season.columns

Index(['minutes_played_2001', 'minutes_played_2002', 'minutes_played_2003',
       'minutes_played_2004', 'minutes_played_2005', 'minutes_played_2006',
       'minutes_played_2007', 'minutes_played_2008', 'minutes_played_2009',
       'minutes_played_2010', 'minutes_played_2011', 'minutes_played_2012',
       'minutes_played_2013', 'minutes_played_2014', 'minutes_played_2015',
       'minutes_played_2016', 'minutes_played_2017', 'minutes_played_2018',
       'minutes_played_2019', 'minutes_played_2020', 'minutes_played_2021',
       'Age_2001', 'Age_2002', 'Age_2003', 'Age_2004', 'Age_2005', 'Age_2006',
       'Age_2007', 'Age_2008', 'Age_2009', 'Age_2010', 'Age_2011', 'Age_2012',
       'Age_2013', 'Age_2014', 'Age_2015', 'Age_2016', 'Age_2017', 'Age_2018',
       'Age_2019', 'Age_2020', 'Age_2021', 'Name'],
      dtype='object')

In [10]:
# reorder the columns since I am picky
col_order = ['Name', 'minutes_played_2001', 'minutes_played_2002', 'minutes_played_2003',
       'minutes_played_2004', 'minutes_played_2005', 'minutes_played_2006',
       'minutes_played_2007', 'minutes_played_2008', 'minutes_played_2009',
       'minutes_played_2010', 'minutes_played_2011', 'minutes_played_2012',
       'minutes_played_2013', 'minutes_played_2014', 'minutes_played_2015',
       'minutes_played_2016', 'minutes_played_2017', 'minutes_played_2018',
       'minutes_played_2019', 'minutes_played_2020', 'minutes_played_2021', 
       'Age_2001', 'Age_2002', 'Age_2003', 'Age_2004', 'Age_2005', 'Age_2006',
       'Age_2007', 'Age_2008', 'Age_2009', 'Age_2010', 'Age_2011', 'Age_2012',
       'Age_2013', 'Age_2014', 'Age_2015', 'Age_2016', 'Age_2017', 'Age_2018',
        'Age_2019', 'Age_2020', 'Age_2021',]

player_min_by_season = player_min_by_season[col_order]

In [11]:
player_min_by_season[player_min_by_season['Name'] == 'Kobe Bryant']

,Name,minutes_played_2001,minutes_played_2002,minutes_played_2003,minutes_played_2004,minutes_played_2005,minutes_played_2006,minutes_played_2007,minutes_played_2008,minutes_played_2009,minutes_played_2010,minutes_played_2011,minutes_played_2012,minutes_played_2013,minutes_played_2014,minutes_played_2015,minutes_played_2016,minutes_played_2017,minutes_played_2018,minutes_played_2019,minutes_played_2020,minutes_played_2021,Age_2001,Age_2002,Age_2003,Age_2004,Age_2005,Age_2006,Age_2007,Age_2008,Age_2009,Age_2010,Age_2011,Age_2012,Age_2013,Age_2014,Age_2015,Age_2016,Age_2017,Age_2018,Age_2019,Age_2020,Age_2021
224,Kobe Bryant,2783.0,3063.0,3401.0,2447.0,2689.0,3277.0,3140.0,3192.0,2960.0,2835.0,2779.0,2232.0,3013.0,177.0,1207.0,1863.0,NaN,NaN,NaN,NaN,NaN,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# structure the data to be:
""" 
Player | Age_season_x | Last_year_total | Career_avg | Last_3_year_avg | Total_min_played
-----------------------------------------------------------------------------------------
       |              |                 |            |                 |
       |              |                 |            |                 |
       |              |                 |            |                 |
       |              |                 |            |                 |


There will be a multiple records per player - one record per season

"""

## Data Investigation

In [ ]:
# get a distribution of the average minutes played by

## Ridge Regression